<!DOCTYPE html>
<html lang="pt-br" ng-app="iLearn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/scss/bootstrap.scss">
    <script src="./node_modules/angular/angular.min.js"></script>
    <script>
        angular.module("iLearn",[]);
        angular.module("iLearn").controller("iLearnController", function($scope){
            $scope.title="iLearn";
            $scope.message = "Bem-vindos a nossa plataforma!";

            $scope.students = [
                {
                    name: "Yanka Santos",
                    phone: "819123456",
                    address:"rua 2020, bairro Boa Vista, Recife-PE",
                    dateAdmission:"01/11/2020"
                },
                {
                    name: "Renato Lelis",
                    phone: "819678901",
                    address:"rua 2020, bairro Boa Vista, Recife-PE",
                    dateAdmission:"02/11/2020"
                },
                {
                    name: "Laine",
                    phone: "819999000",
                    address:"rua da indepêndencia, bairro Campo Grande, Florianópolis-SC",
                    dateAdmission:"04/11/2020"
                }
            ];
            $scope.courses = [
                {
                    title: "AngularJS",
                    description: "Curso de introdução ao angular JS, aprendendo a fazer um CRUD",
                    hours: "16 horas",
                    price: "free" ,
                    category: "Front-End"           
                },
                {
                    title: "NodeJS",
                    description: "Curso de introdução ao NodeJS, aprendendo a fazer um CRUD e consumo de API",
                    hours: "40 horas",
                    price: "R$30,00",
                    category: "Back-End"               
                },
                {
                    title: "Java Spring Boot",
                    description: "Curso de Spring boot, integrando API com o front-end e gravando informação no banco de dados",
                    hours: "40 horas",
                    price: "R$60,00",
                    category: "Back-End"                 
                }
            ];
            $scope.registerStudent = function(student){
                $scope.students.push(angular.copy(student));
                delete $scope.student;
            };
            $scope.deleteStudent = function(students){
                $scope.students = students.filter(
                    function (student){
                        if(!student.checked) return student;
                    }
                );
            };
            $scope.isStudentChecked = function(students){
                return students.some(function(student){
                    return student.checked;
                });
            };
        });
    </script>
</head>
<body>
    <div ng-controller="iLearnController" class="jumbotron">
        <h1 ng-bind="title"></h1>
        <span>{{message}}</span>
        <div class="studentsList">
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Data Admição</th>
                    <th>Curso</th>
                </tr>
                <tr ng-class="{checked: student.checked}" ng-repeat="student in students">
                    <td><input type="checkbox" ng-model="student.checked"/></td>
                    <td>{{student.name}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.dateAdmission}}</td>
                    <td>{{student.course.title}}</td>
                </tr>
            </table>
            <div>
                <input type="text" ng-model="student.name" placeholder="Nome"/>
                <input type="text" ng-model="student.phone" placeholder="Tellefone"/>
                <input type="text" ng-model="student.address" placeholder="Endereço"/>
                <input type="text" ng-model="student.dateAdmission" placeholder="Data de Admição"/>

                
                <select ng-model="student.course" ng-options="course.title group by course.category for course in courses">
                    <option value="">Selecione um curso</option>
                </select>

                <button ng-click="registerStudent(student)" ng-disabled="!student.name || !student.phone || !student.address || !student.dateAdmission">Salvar</button>
                <button ng-click="deleteStudent(students)" ng-disabled="!isStudentChecked(students)">Excluir</button>
                
                
            </div>

        </div>

    </div>
</body>
</html>