<!DOCTYPE html>
<html lang="pt-br" ng-app="iLearn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn</title>
    <link rel="stylesheet" href="./style/global.css">
    <link rel="stylesheet" href="./assets/bootstrap4/css/bootstrap.css">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controllers/iLearnController.js"></script>
</head>
<body>
    <div ng-controller="iLearnController" class="container card ilearnContaniner">
        <h1 ng-bind="title"></h1>
        <span>{{message}}</span>
        
        <div class="studentsList">
            <table class="table table-striped" ng-show="students.length > 0">
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Data Admição</th>
                    <th>Curso</th>
                </tr>
                <tr ng-class="{checked: student.checked}" ng-repeat="student in students">
                    <td><input type="checkbox" class="form-check-label" ng-model="student.checked"/></td>
                    <td>{{student.name}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.dateAdmission}}</td>
                    <td>{{student.course.title}}</td>
                </tr>
            </table>
            <div class="studentForm form-group">
                <form>
                    <div class="row  speace">
                        <div class="col">
                            <input type="text" class="form-control" ng-model="student.name" placeholder="Nome"/>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="student.phone" placeholder="Tellefone"/>
                        </div>
                    </div>
                    <div class="row speace">
                        <div class="col">
                            <input type="text" class="form-control" ng-model="student.address" placeholder="Endereço"/>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" ng-model="student.dateAdmission" placeholder="Data de Admição"/>

                        </div>
                        <div class="col">
                            <select class="form-control" ng-model="student.course" ng-options="course.title group by course.category for course in courses">
                                <option value="">Selecione um curso</option>
                            </select>
                        </div>
                    </div>

                    </div>
                    <div class="row">
                        <button class="button-speace btn btn-primary" ng-click="registerStudent(student)" ng-disabled="!student.name || !student.phone || !student.address || !student.dateAdmission">Salvar</button>
                        <button class="button-speace btn btn-danger" ng-click="deleteStudent(students)" ng-if="isStudentChecked(students)">Excluir</button>                            
                    </div>
                </form>

            </div>

        </div>

    </div>
</body>
</html>